@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    string username = User.Identity.Name;
}

<!--We did this-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="/images/movie_filter_FILL0_wght400_GRAD0_opsz48.svg">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body>
   

    <nav class="nav-bar">
        <div class="logo">
            Book Store
        </div>
        <ul class="nav-link">
            <li style="margin-top:10px;list-style-type: none;"><a class="active" href="/Home/Index">Home</a></li>
            <li style="margin-top:10px ;list-style-type: none;"><a href="/Home/About">About</a></li>
            

            @if (SignInManager.IsSignedIn(User))
            {
                <li class="nav-item" style="margin-top: 10px; list-style-type: none;">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <span id="username">@(User.Identity?.Name)</span>!

                        @if (User.IsInRole("Admin"))
                        {
                            <span>(Admin)</span>
                    <li style="list-style-type: none;">
                        <a href="#">Admin <i class="fa fa-caret-down" style="margin-top:15px"></i></a>
                        <ul class="dropdown-nav-link">
                            <li><a href="/Genre/Add">Add Genre</a></li>
                            <li><a href="/Book/Add">Add Book</a></li>
                            <li><a href="/UserAuthentication/Logout">Logout</a></li>
                        </ul>
                    </li>
                        }
                        else
                        {
                    <li class="nav-item" style="margin-top: 10px; list-style-type: none;">
                        <a class="nav-link" href="/Cart/GetUserCart">
                            <span id="cartCount" class="badge text-bg-info">0</span>
                            <i class="bi bi-cart text-white"></i>
                        </a>
                    </li>
                        }
                </a>
                </li>

                <li class="nav-item" style="margin-right: 10px;list-style-type: none; ">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark" style="background-color: #4d63df; color: white; border: none; padding: 0.5rem 1rem; border-radius: 0.3rem; font-size: 1rem; font-weight: 500; cursor: pointer; box-shadow: 0 3px 3px 0 grey; line-height: 1.5; text-decoration: none; display: inline-block; margin-right: 0.2rem;">Logout</button>
                    </form>
                </li>
            }
           
            else
            {
                <li class="nav-item" style="margin-top: 10px;">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item" style="margin-top: 10px;">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
        </ul>
        
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        loadCartCount();
        async function loadCartCount() {
            try {
                var response = await fetch(`/Cart/GetTotalItemInCart`);
                console.log("aaa" + response)
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - OnlineBookStoreProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)

</body>
</html>


